<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="/var/www/html/custom/dolitest/tests/Support/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="dolinotif">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DOLIBARR_HTDOCS" value="/var/www/html"/>
    </php>
</phpunit>
